@import url('https://fonts.googleapis.com/css2?family=Delius&family=Edu+QLD+Beginner:wght@500&family=Inconsolata&family=Lilita+One&family=Roboto+Mono&family=Tilt+Neon&display=swap');
.contentinfo{
  width: 90%;
  height: 300px;
  background-image:linear-gradient(150deg,rgb(76, 249, 76),rgb(231, 229, 229));   
  margin:5px auto;
  border-radius: 16px;
}
.contentinfo h1{
font-family: 'Tilt Neon', cursive;
color:white;
margin: 5px 30px;
}
.contentvision{
    width:80%;
    margin: 40px auto;
}
.contentvision p{
    font-size: 1.4em;
    font-weight:bold;
    font-family: 'Tilt Neon', cursive;
color:white;
}
@media(max-width:600px){
    .contentinfo{
        margin: 15px auto;
    width:95%;
 height:350px;}
 .contentvision p{
    font-size: 1.3em;
 }
}